.footer1_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  background-color: rgb(231, 0, 0);
  color: white;
  padding-bottom: 10;
}

.footer1_container a {
  color: white;
  text-decoration: none;
}

.img_container {
  position: relative;
  overflow: hidden;
  width: 100vw;

}

.img_container img {
  width: 100%;
}

.sections_container {
  width: 100vw;
  padding: .5rem 3rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  position: absolute;
}

.section2_container {
  padding: .5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}



.section2_container form {
  display: flex;

  gap: .5rem;
  flex-direction: column;
}

.footer1_button {
  margin-top: .5rem;
  padding: 1rem;
  font-weight: 700;
  background-color: white;
  text-align: center;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.section2_container button:hover {
  background-color: rgba(255, 255, 255, 0.719);
}

.kanjicontainer {
  display: flex;
  gap: .5rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:600px) {

  .section2_container,
  .section2_container p,
  .section2_container h2 {
    background-color: red;
    font-size: smaller;
  }
}